section.content#about
	h3 About
	p Here's me. A lover of code and an enthusiastic junior front end dev. A man of many passions, of which programming is without a doubt the most important one. 
	p I have been feeding my interest for recreating designs throughout the last 2 years or so and ended up doing it professionally.
	p And I have grown to love it even more.
	p There's so much more left to learn and this perspective, though overwhelming, is what keeps me learning new things. So if you think you've got a challenge for me, please don't hesitate to give me a call or e-mail me. I'll be happy to dig into new technologies or try and perfect the ones I know. 