section.content#contact
	h3 Contact
	p If you would like to work with me, here are some ways you can contact me
		.kontakt-wrapper.flex-center-vertical
			a(href="https://github.com/RafalSkwara" target="_blank" title="My GitHub profile")
				.github.flex-center-horizontal
					i.fa.fa-github
					p github.com/rafalskwara

			a(href="https://www.linkedin.com/in/rafa%C5%82-skwara-75746259/" target="_blank" title="My LinkedIn profile")
				.linkedin.flex-center-horizontal
					i.fa.fa-linkedin-square
					p linkedin.com/in/rafał-skwara-75746259/
			a(href="mailto:rafal.skwara@gmail.com" title="Email me")
				.gmail.flex-center-horizontal
					i.fa.fa-envelope-square
					p rafal.skwara@gmail.com
			a(href="callto://+48695729757" title="Give me a call")
				.mobile.flex-center-horizontal
					i.fa.fa-mobile
					p (+48) 695 729 757
			a(href="cv/Rafal_Skwara_CV.pdf" download title="Download CV")
				.resume.flex-center-horizontal
					i.fa.fa-file-pdf-o
					p Download my CV