header
	nav
		a.logo(href="/index.html")
			h1.logo Rafał Skwara
		a#menu-toggle
			i.fa.fa-bars
		ul.nav-list
			li.active 
				a#link-home.flex-center-horizontal.link(href="#") Home
			li 
				a#link-about.flex-center-horizontal.link(href="#about") About
			li 
				a#link-skills.flex-center-horizontal.link(href="#skills") Skills
			li 
				a#link-projects.flex-center-horizontal.link(href="#projects") Projects
			li 
				a#link-contact.flex-center-horizontal.link(href="#contact") Contact

	section.hero
		img.my-photo(src="./images/rafalskwara.jpg", alt="Rafał Skwara")
		h1 Junior frontend developer
		h2 Creator. Coder. Passionate
		.arrow
			i.fa.fa-angle-double-down