section.content#projects
	h3 Projects
	.items.flex-center-horizontal
		.items-wrapper
			.item.flex-center-vertical.storefront
				.overlay.flex-center-vertical(data-js="storefront")
					h3 Media Market Storefront
					p React, Redux, React router, Webpack
					.flex-center-horizontal
						a.button.button-github(href='https://rafalskwara.github.io/storefront/')
							i.fa.fa-github.flex-center-horizontal
					button.item__read-more(data-js="storefront") Read More
				.title Media Market Storefront
			.item.flex-center-vertical.spacex
				.overlay.flex-center-vertical(data-js="spacex")
					h3 SpaceX Launch List
					p React, Redux, Webpack
					.flex-center-horizontal
						a.button.button-github(href='https://rafalskwara.github.io/spacex/')
							i.fa.fa-github.flex-center-horizontal
					button.item__read-more(data-js="spacex") Read More
				.title SpaceX Launch List
			.item.flex-center-vertical.duel
				.overlay.flex-center-vertical(data-js="duel")
					h3 The Duel - a game
					p HTML5, CSS, JS (ES6)
					.flex-center-horizontal
						a.button.button-codepen(href='https://codepen.io/rafalskwara/full/aVBJxz/')
							i.fa.fa-codepen.flex-center-horizontal
					button.item__read-more(data-js="duel") Read More
				.title The Duel - a game
			.item.flex-center-vertical.sarbat
				.overlay.flex-center-vertical(data-js="sarbat")
					h3 Sarbat - static page
					p HTML5, CSS3, JS (ES6)
					.flex-center-horizontal
						a.button.button-github(href='https://rafalskwara.github.io/sarbat/')
							i.fa.fa-github.flex-center-horizontal
					button.item__read-more(data-js="sarbat") Read More
				.title Sarbat - static page
			.item.flex-center-vertical.weather
				.overlay.flex-center-vertical(data-js="weather")
					h3 Weather widget
					p JS, jQuery
					.flex-center-horizontal
						a.button.button-github(href='https://gist.github.com/anonymous/188c363e20773c27d0a0e19529b0056e')
							i.fa.fa-github.flex-center-horizontal
						a.button.button-codepen(href='https://codepen.io/rafalskwara/full/RKzWZG/')
							i.fa.fa-codepen.flex-center-horizontal
					button.item__read-more(data-js="weather") Read More
				.title Weather widget
			.item.flex-center-vertical.twitch
				.overlay.flex-center-vertical(data-js="twitch")
					h3 Twitch.tv app
					p JS, jQuery
					.flex-center-horizontal
						a.button.button-github(href='https://gist.github.com/anonymous/d8cbc2bf4049367e676618686072f275')
							i.fa.fa-github.flex-center-horizontal
						a.button.button-codepen(href='https://codepen.io/rafalskwara/full/jmNyzX')
							i.fa.fa-codepen.flex-center-horizontal
					button.item__read-more(data-js="twitch") Read More
				.title Twitch.tv app
			.item.flex-center-vertical.cube
				.overlay.flex-center-vertical(data-js="cube")
					h3 The Cube	
					p CSS, JS
					.flex-center-horizontal
						a.button.button-github(href='https://gist.github.com/anonymous/b15c1d40a670f2f42c818137c091a172')
							i.fa.fa-github.flex-center-horizontal
						a.button.button-codepen(href='https://codepen.io/rafalskwara/full/zzZXWp')
							i.fa.fa-codepen.flex-center-horizontal
					button.item__read-more(data-js="cube") Read More
				.title The Cube
			.item.flex-center-vertical.skydelve
				.overlay.flex-center-vertical(data-js="skydelve")
					h3 Skydelve
					p React, Redux, Router, Sass, Webpack
					.flex-center-horizontal
						a.button.button-github(href='https://rafalskwara.github.io/skydelve/')
							i.fa.fa-github.flex-center-horizontal
					button.item__read-more(data-js="skydelve") Read More
				.title Skydelve
			.item.flex-center-vertical.spinners
				.overlay.flex-center-vertical(data-js="spinners")
					h3 Spinners
					p CSS
					.flex-center-horizontal
						a.button.button-github(href='https://gist.github.com/anonymous/3785b6714b1d5f8f8f93b3db313056ef')
							i.fa.fa-github.flex-center-horizontal
						a.button.button-codepen(href='https://codepen.io/rafalskwara/full/KNzGdZ')
							i.fa.fa-codepen.flex-center-horizontal
					button.item__read-more(data-js="spinners") Read More
				.title Spinners