section.content#skills
	h3 Skills
	.wrapper
		.col-left.col
			.screen
				.top
					p Superb Text Editor
				.inner
					p.text.typed-fade-out(style="white-space:pre")
		.line
		.col-right.col
			h4 Technologies
			ul.skills-list.flex-center-horizontal
				li.flex-center-horizontal
					img(src="./images/html.svg", alt="logo HTML5", title="HTML5")
				li.flex-center-horizontal 
					img(src="./images/css.svg", alt="logo CSS3", title="CSS3")
				li.flex-center-horizontal
					img(src="./images/JavaScript-logo.png", alt="logo JavaScript", title="JavaScript")
				li.flex-center-horizontal
					img(src="./images/react.png", alt="logo React", title="React.js basics")
				li.flex-center-horizontal
					img(src="./images/jQurery.gif", alt="logo jQuery", title="jQuery")
			h4.tools Tools and preprocessors
			ul.skills-list.flex-center-horizontal
				li.flex-center-horizontal
					img(src="./images/git.svg", alt="logo git", title="git")
				li.flex-center-horizontal 
					img(src="./images/gulp.svg", alt="logo Gulp", title="Gulp")
				li.flex-center-horizontal
					img(src="./images/sass.svg.png", alt="logo Sass", title="Sass")
				li.flex-center-horizontal
					img(src="./images/pug.png", alt="logo Pug", title="Pug") 