//
// Kolory z http://clrs.cc/
//

// Barwy chłodne
$aqua:  #7FDBFF
$blue:  #0074D9
$navy:  #001F3F
$teal:  #39CCCC
$green: #2ECC40
$olive: #3D9970
$lime:  #01FF70


// Barwy ciepłe
$yellow:  #FFDC00
$orange:  #FF851B
$red:     #FF4136
$fuchsia: #F012BE
$purple:  #B10DC9
$maroon:  #85144B


// Skala szarości
$white:  #fff
$silver: #ddd
$gray:   #aaa
$black1:  #111

// Baza strony

$main-col: #4e1545
$light-col: #f3eef2
$dark-col: #330d2d
$text-col: #343434
$white-col: #fcfbfc

//
// Zmienne
//
$bg-color: #ddd


//
// Wielkości
//
$motto-height: 10vh
$header-height: 40vh