doctype html
//if lt IE 9
	script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')

	// <![endif]
html(lang='pl')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Rafał Skwara | Portfolio
		meta(name='author', content='Rafał Skwara')
		meta(name='description', content='Witam, nazywam się Rafał Skwara, przyszły junior front end developer. Zapraszam do zapoznania się z moimi projektami.')
		meta(name='keywords', content='frontend,developer,junior frontend,Rafał Skwara,')
		link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='css/styles.css?v=1.0')

	body
		.page-wrapper
			header
				nav
					a.logo(href="/index.html")
						h1.logo Rafał Skwara
					a#menu-toggle
						i.fa.fa-bars
					ul.nav-list
						li.active 
							a#link-home.link(href="#") Home
						li 
							a#link-o-mnie.link(href="#o-mnie") O Mnie
						li 
							a#link-umiejetnosci.link(href="#umiejetnosci") Umiejętności
						li 
							a#link-portfolio.link(href="#portfolio") Portfolio
						li 
							a#link-kontakt.link(href="#kontakt") Kontakt
					
				section.hero
					img.my-photo(src="./images/rafalskwara.jpg", alt="Rafał Skwara")
					h1 Junior frontend developer
					h2 Twórca. Koder. Pasjonat
			.content-wrapper
				.left-column
				.right-column
					section.content#o-mnie
						h3 O mnie
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					section.content#umiejetnosci
						h3 Umiejętności
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
					section.content#portfolio
						h3 Portfolio
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
					section.content#kontakt
						h3 Kontakt
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
		footer.flex-center-vertical
			p Designed and coded by Rafał Skwara
			p &copy; 2017

		script(src='js/jquery-3.1.1.min.js')
		script(src='js/main.js')


