doctype html
//if lt IE 9
	script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')

// <![endif]
html(lang='pl')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Rafał Skwara | Portfolio
		meta(name='author', content='Rafał Skwara')
		meta(name='description', content='Witam, nazywam się Rafał Skwara, przyszły junior front end developer. Zapraszam do zapoznania się z moimi projektami.')
		meta(name='keywords', content='frontend,developer,junior frontend,Rafał Skwara,')
		link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='css/styles.css?v=1.0')
		meta(name="theme-color" content="#4e1545")

	body
		.page-wrapper#home
			header
				nav
					a.logo(href="/index.html")
						h1.logo Rafał Skwara
					a#menu-toggle
						i.fa.fa-bars
					ul.nav-list
						li.active 
							a#link-home.link(href="#") Home
						li 
							a#link-o-mnie.link(href="#o-mnie") O Mnie
						li 
							a#link-umiejetnosci.link(href="#umiejetnosci") Umiejętności
						li 
							a#link-portfolio.link(href="#portfolio") Portfolio
						li 
							a#link-kontakt.link(href="#kontakt") Kontakt
					
				section.hero
					img.my-photo(src="./images/rafalskwara.jpg", alt="Rafał Skwara")
					h1 Junior frontend developer
					h2 Twórca. Koder. Pasjonat
					.arrow
						i.fa.fa-angle-double-down
			.content-wrapper
				section.content#o-mnie
					h3 O mnie
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				section.content#umiejetnosci
					h3 Umiejętności
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
				section.content#portfolio
					h3 Portfolio
					p.center Oto kilka projektów, które wykonałem w trakcie nauki. Po zapoznaniu się z poniższym kodem powinieneś mniej więcej wiedzieć, w którym miejscu mojej drogi do juniora znajduję się obecnie. 
					.items.flex-center-horizontal
						.item
							h3 The Cube - kostka 3D w CSS
							p.center Prosta zabawa w CSS wykorzystująca perspektywę 3D do wyświetlania kostki, z przełączaniem między widokiem ścianek dzięki prostemu kodowi w jQuery.
							p.codepen(data-height='525', data-theme-id='30111', data-slug-hash='zzZXWp', data-default-tab='result', data-user='rafalskwara', data-embed-version='2', data-pen-title='3D Cube')
								| See the Pen 
								a(href='https://codepen.io/rafalskwara/pen/zzZXWp/') 3D Cube
								|  by Rafal Skwara (
								a(href='https://codepen.io/rafalskwara') @rafalskwara
								| ) on 
								a(href='https://codepen.io') CodePen
								| .
							script(async='', src='https://production-assets.codepen.io/assets/embed/ei.js')

						.item
							h3 Widget pogodowy
							p.center Widget wykorzystujący API do pobierania aktualnej pogody w lokalizacji użytkownika. Wyposażony w funkcję zmiany jednostek temperatury i wyświetlanie ikony pogody
							p.codepen(data-height='525', data-theme-id='30111', data-slug-hash='RKzWZG', data-default-tab='result', data-user='rafalskwara', data-embed-version='2', data-pen-title='Show the local weather (Free Code Camp project)')
								| See the Pen 
								a(href='https://codepen.io/rafalskwara/pen/RKzWZG/') Show the local weather (Free Code Camp project)
								|  by Rafal Skwara (
								a(href='https://codepen.io/rafalskwara') @rafalskwara
								| ) on 
								a(href='https://codepen.io') CodePen
								| .
							script(async='', src='https://production-assets.codepen.io/assets/embed/ei.js')
						.item
							h3 Animowane spinnery
							p.center Mały zestaw animowanych spinnerów wykorzystujący animacje CSS
							p.codepen(data-height='525', data-theme-id='30111', data-slug-hash='KNzGdZ', data-default-tab='result', data-user='rafalskwara', data-embed-version='2', data-pen-title='Spinners')
								| See the Pen 
								a(href='https://codepen.io/rafalskwara/pen/KNzGdZ/') Spinners
								|  by Rafal Skwara (
								a(href='https://codepen.io/rafalskwara') @rafalskwara
								| ) on 
								a(href='https://codepen.io') CodePen
								| .
							script(async='', src='https://production-assets.codepen.io/assets/embed/ei.js')
						.item
							h3 Aplikacja do śledzenia kanałów Twitch.tv
							p.center Aplikacja wykorzystująca Twitch API do zbierania informacji o kanałach z funkcją wyszukiwania na żywo, sortowaniem kanałów na nadające i nie nadające oraz wykrywająca nieistniejące kanały.
							p.codepen(data-height='525', data-theme-id='30111', data-slug-hash='jmNyzX', data-default-tab='result', data-user='rafalskwara', data-embed-version='2', data-pen-title='Twitch.tv JSON Free Code Camp project')
								| See the Pen 
								a(href='https://codepen.io/rafalskwara/pen/jmNyzX/') Twitch.tv JSON Free Code Camp project
								|  by Rafal Skwara (
								a(href='https://codepen.io/rafalskwara') @rafalskwara
								| ) on 
								a(href='https://codepen.io') CodePen
								| .
							script(async='', src='https://production-assets.codepen.io/assets/embed/ei.js')



				section.content#kontakt
					h3 Kontakt
					p Jeśli czujesz taką potrzebę, możesz się ze mną skontaktować w jeden z poniższych sposobów.
						.kontakt-wrapper.flex-center-vertical
							a(href="https://github.com/RafalSkwara" target="_blank" title="Mój profil na GitHubie")
								.github.flex-center-horizontal
									i.fa.fa-github
									p github.com/rafalskwara

							a(href="https://www.linkedin.com/in/rafa%C5%82-skwara-75746259/" target="_blank" title="Mój profil na LinkedIn")
								.linkedin.flex-center-horizontal
									i.fa.fa-linkedin-square
									p linkedin.com/in/rafał-skwara-75746259/
							a(href="mailto:rafal.skwara@gmail.com" title="Email do mnie")
								.gmail.flex-center-horizontal
									i.fa.fa-envelope-square
									p rafal.skwara@gmail.com
							a(href="callto://+48695729757" title="Zadzwoń do mnie")
								.gmail.flex-center-horizontal
									i.fa.fa-mobile
									p (+48) 695 729 757
							a(href="cv/Rafal_Skwara_CV.pdf" download title="Pobierz CV")
								.gmail.flex-center-horizontal
									i.fa.fa-file-pdf-o
									p Pobierz moje CV
		footer.flex-center-vertical
			p Designed and coded by Rafał Skwara
			p &copy; 2017

		script(src='js/jquery-3.1.1.min.js')
		script(src='js/main.js')


