doctype html
//if lt IE 9
	script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')

	// <![endif]
html(lang='pl')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Rafał Skwara | Portfolio
		meta(name='author', content='Rafał Skwara')
		meta(name='description', content='Witam, nazywam się Rafał Skwara, przyszły junior front end developer. Zapraszam do zapoznania się z moimi projektami.')
		meta(name='keywords', content='frontend,developer,junior frontend,Rafał Skwara,')
		link(rel='shortcut icon', href='favicon.ico', type='image/vnd.microsoft.icon')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel='stylesheet', href='css/styles.css?v=1.0')

	body
		.page-wrapper
			header
				nav
					a.logo(href="/index.html")
						h1.logo Rafał Skwara
					ul
						li.active 
							a(href="#") Home
						li 
							a(href="#") O Mnie
						li 
							a(href="#") Umiejętności
						li 
							a(href="#") Portfolio
						li 
							a(href="#") Kontakt
				section.hero
					img.my-photo(src="/images/rafalskwara.jpg", alt="Rafał Skwara")
					h1 Junior frontend developer
					h2 Twórca. Koder. Pasjonat

		script(src='js/jquery-3.1.1.min.js')
		script(src='js/main.js')


